
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    width:100%;
    padding: 10px;
}
header {
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(182, 182, 182);
    height: 7rem;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: rgb(81, 81, 223);
}
#navbar {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 280px;
   width: 300px;
   height: 100%;
   border-right: solid rgb(182, 182, 182);

}
#navbar header {
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    font-size: 2rem;
    
}
#navbar ul {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

#main-doc {
    position: absolute;
    left: 325px;
}

.main-section header {
    font-size: 2.8rem;
    padding: 1.2rem 0;
}
.main-section p{
    font-size: 1.6rem;
    padding: 1.4rem 0;
}

.main-section p {
    margin-left: 20px;
}

#navbar li:hover {
    background-color: rgb(182, 179, 179);
}

.nav-link {
    display: block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #333;
}

code {
   display: block;
   text-align: left;
   position: relative;
   word-break: normal;
   word-wrap: normal;
   line-height: 2;
   padding: 15px;
   margin: 15px;
   background-color: rgb(248, 248, 229);
   border-radius: 8px;
   font-size: 1.2rem;
   color: #333;
}

.main-section ul {
    display: block;
    position: relative;
    margin-left: 70px;
    list-style:inside;
    font-size: 1.4rem;
}

.note {
    display: block;
    width: 50%;
    padding: 15px;
    font-size: 1.2rem;
    font-style: italic;
    background-color: rgb(248, 248, 229);
    border-radius: 5px;
}

#FAQs ul {
    display: block;
    position: relative;
    margin-left: 70px;
    list-style:inside;
    font-size: 1.4rem;
}

@media (max-width: 750px){
    #main-doc {
        left: 300px;
    }
    #main-doc header {
        font-size: 2rem;
    }
    #main-doc p {
        font-size: 1.4rem;
    }
    .nav-link {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        padding: 8px 15px;
        height: 45px;
    }
    #navbar {
        width: 200px;
    }
    #navbar header {
        font-size: 1.6rem;
        padding: 20px;
    }
}